debconf debconf/language string fr
d-i     debconf/language string fr
d-i     debian-installer/language string fr

d-i     debian-installer/locale string fr_FR.UTF-8
d-i     debian-installer/splash boolean false
d-i     debian-installer/language string fr
d-i     debian-installer/country string FR

d-i     console-setup/ask_detect        boolean false
d-i     console-setup/layoutcode        string fr
d-i     keyboard-configuration/xkb-keymap select fr
d-i     keyboard-configuration/layoutcode string fr

d-i	mirror/country string manual
d-i	mirror/http/hostname string ftp-stud.hs-esslingen.de
d-i	mirror/http/directory string /debian
d-i	mirror/http/proxy string

d-i	netcfg/get_hostname string {{ vm_name }}
#d-i	netcfg/get_domain string forky.ovh

### Apt setup
# You can choose to install non-free and contrib software.
d-i	apt-setup/non-free boolean true
d-i	apt-setup/contrib boolean true
d-i	apt-setup/use_mirror boolean true

d-i     partman-auto/disk string /dev/vda
d-i     partman-auto/method string lvm
d-i     partman-lvm/device_remove_lvm boolean true
d-i     partman-md/device_remove_md boolean true
d-i     partman-lvm/confirm boolean true
d-i     partman-auto/choose_recipe select atomic

d-i     mdadm/boot_degraded boolean false
d-i     partman-md/confirm boolean true
d-i     partman-partitioning/confirm_write_new_label boolean true
d-i     partman/choose_partition select Finish partitioning and write changes to disk
d-i     partman/confirm boolean true
d-i     partman-md/confirm_nooverwrite  boolean true
d-i     partman/confirm_nooverwrite boolean true
d-i	partman-lvm/confirm boolean true
d-i	partman-lvm/confirm_nooverwrite boolean true

d-i	partman/mount_style select uuid
d-i     clock-setup/utc boolean true
d-i     clock-setup/ntp boolean true
d-i     clock-setup/ntp-server  string ntp.ubuntu.com
d-i     time/zone string Europe/Paris
#d-i     base-installer/kernel/image     string linux-server

# users
d-i passwd/root-login       boolean true
d-i passwd/root-password password {{ password_vm_root }}
d-i passwd/root-password-again password {{ password_vm_root }}
d-i passwd/make-user boolean false


#d-i     apt-setup/services-select       multiselect security
#d-i     apt-setup/security_host string security.ubuntu.com
#d-i     apt-setup/security_path string /ubuntu
#d-i     debian-installer/allow_unauthenticated  string false

d-i     pkgsel/upgrade  select safe-upgrade
d-i     pkgsel/language-packs   multiselect 
d-i     pkgsel/update-policy    select none
d-i     pkgsel/updatedb boolean true
tasksel tasksel/first multiselect standard, openssh-server

#d-i     grub-installer/skip     boolean false
#d-i     lilo-installer/skip     boolean false
#d-i     grub-installer/only_debian      boolean true
#d-i     grub-installer/with_other_os    boolean false


d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev  string /dev/vda

d-i     finish-install/keep-consoles    boolean false
d-i     finish-install/reboot_in_progress       note 
d-i     cdrom-detect/eject      boolean true
d-i     debian-installer/exit/halt      boolean false
d-i     debian-installer/exit/poweroff  boolean false
d-i     pkgsel/include string vim openssh-server

d-i preseed/late_command string \
	in-target apt-get update; \
	in-target apt-get -y install \
        python3 \
        python3-pip \
        ifupdown2 \
        htop \
        iotop \
        rsync \
	dnsutils \
	mc \
	sudo \
	curl \
	vim \
	net-tools; \
	in-target sed -i ‘s/ens3/ens18/g’ /etc/network/interfaces; \
	in-target sed -i ’/^#PermitRootLogin/c\PermitRootLogin yes’ /etc/ssh/sshd_config; \
        in-target sed -i ‘s/# alias ll/alias ll/g’ /root/.bashrc; \
        in-target sed -i ‘s/# alias ls/alias ls/g’ /root/.bashrc; \
        in-target sed -i ‘s/# alias l/alias l/g’ /root/.bashrc; \
        in-target sed -i ‘s/# export LS_OPTIONS/export LS_OPTIONS/g’ /root/.bashrc; \
        in-target sed -i ‘s/# eval/eval/g’ /root/.bashrc; \
	in-target update-grub; 


